.page-content.page-start{

	@include box-sizing();

	.tabs-start-forms{
		margin: 0 auto;
		width: 310px;

		.gallery-hero-photos{

			text-align: center;

			.gallery-list{
				display: none;
			}

			.main-image{
				position: relative;
				display: inline-block;

				.nav{
					position: absolute;
					top: 50%;
					display: inline-block;
					margin: -28px 0 0 0;
					background: $common-icons;

					&.nav-next{
						right: -30px;
						@include sprite($common-icons, "gold-arrow-right_s20x56", true)
					}

					&.nav-prev{
						left: -30px;
						@include sprite($common-icons, "gold-arrow-left_s20x56", true)
					}

					&:hover{
						@include opacity(.7);
					}
				}
			}
		}
	}
}