html{

	height: 100%;
	color: #00FF00;
	font-family: Arial, Helvetica, sans-serif;

	body{

		height: 100%;

		> * {
			display: none;
		}

		.site-wrapper{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			overflow-y: scroll;

			.page-wrapper{
				width: 100%;
				min-height: 100%;
				background: url("/static/images/decorations/site-bg_s512x512.jpg") 0 0 repeat;

				.page-content{
					width: 1000px;
					margin: 0 auto;

					.article{
						vertical-align: top;
						display: inline-block;
						@include box-sizing();
						width: 800px;
						padding: 20px 10px;
					}
				}
			}
		}
	}
}