* {
  margin: 0;
  border: none;
  padding: 0;
  background: none;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

input {
  color: #ffffff;
}

.user-select {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.default-link {
  border-bottom: 1px solid;
}
.default-link:hover {
  border-bottom: none;
}

html {
  height: 100%;
  color: #00FF00;
  font-family: Arial, Helvetica, sans-serif;
}
html body {
  height: 100%;
}
html body > * {
  display: none;
}
html body .site-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
html body .site-wrapper .page-wrapper {
  width: 100%;
  min-height: 100%;
  background: url("/static/images/decorations/site-bg_s512x512.jpg") 0 0 repeat;
}
html body .site-wrapper .page-wrapper .page-content {
  width: 1000px;
  margin: 0 auto;
}
html body .site-wrapper .page-wrapper .page-content .article {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 800px;
  padding: 20px 10px;
}

.default-form.style_1 .field {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
}
.default-form.style_1 .field .label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 14px;
}
.default-form.style_1 .field .input {
  display: block;
}
.default-form.style_1 .field .input.input-text input[type="text"],
.default-form.style_1 .field .input.input-text input[type="password"] {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  padding: 0 10px;
  background: #ececec;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  outline: none;
}
.default-form.style_1 .field .input.input-text input[type="text"]:focus, .default-form.style_1 .field .input.input-text input[type="text"]:active,
.default-form.style_1 .field .input.input-text input[type="password"]:focus,
.default-form.style_1 .field .input.input-text input[type="password"]:active {
  outline: none;
}
.default-form.style_1 .field .input.input-button button
input[type="button"],
.default-form.style_1 .field .input.input-button input[type="submit"] {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  padding: 0 10px;
  background: #ececec;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  outline: none;
  cursor: pointer;
}
.default-form.style_1 .field .input.input-button button
input[type="button"]:focus, .default-form.style_1 .field .input.input-button button
input[type="button"]:active,
.default-form.style_1 .field .input.input-button input[type="submit"]:focus,
.default-form.style_1 .field .input.input-button input[type="submit"]:active {
  outline: none;
}
.default-form.style_1 .field .select > select {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  background: #ececec;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  outline: none;
}
.default-form.style_1 .field.t-error .label {
  color: #FF0000;
}
.default-form.style_1 .field.t-error .tjq-error-popup,
.default-form.style_1 .field.t-error .t-error-single {
  position: absolute;
  left: 0;
  bottom: -16px;
  background: transparent;
  font-size: 12px;
  color: #FF0000;
}
.default-form.style_1 .field.t-error .t-error-icon {
  display: none !important;
}

.tabs.default-tabs.style_1 .tabs-headers-list {
  display: inline-block;
  margin: 0 0 20px 0;
}
.tabs.default-tabs.style_1 .tabs-headers-list > li {
  display: inline-block;
  width: 150px;
  margin: 0 10px 0 0;
  text-align: center;
  cursor: pointer;
}
.tabs.default-tabs.style_1 .tabs-headers-list > li span {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
}
.tabs.default-tabs.style_1 .tabs-headers-list > li:hover span {
  border-bottom: 1px solid;
}
.tabs.default-tabs.style_1 .tabs-headers-list > li.active span {
  border-bottom: 2px solid;
  font-weight: bold;
}
.tabs.default-tabs.style_1 .tabs-headers-list > li:last-child {
  margin: 0;
}
.tabs.default-tabs.style_1 .tabs-content-list > li {
  display: none;
}
.tabs.default-tabs.style_1 .tabs-content-list > li.active {
  display: block;
}

.main-menu {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding: 20px 10px 0 0;
  font-size: 14px;
}
.main-menu > ul > li {
  margin: 0 0 5px 0;
}
.main-menu > ul > li a:hover {
  color: #17BF11;
}

.card-wrapper {
  display: block;
}
.card-wrapper .card {
  position: relative;
  width: 88px;
  height: 94px;
  background: url("/static/images/decorations/card-background_s118x154.jpg");
}
.card-wrapper .card.card-creature img {
  display: inline-block;
  margin: 7px 4px;
  width: 80px;
  height: 80px;
}
.card-wrapper .card.card-creature .prop {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  background: #fdf3ac;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  color: #000000;
}
.card-wrapper .card.card-creature .prop.cost {
  right: 0;
  top: 0;
  border-bottom-left-radius: 3px;
}
.card-wrapper .card.card-creature .prop.damage {
  left: 0;
  bottom: 0;
  border-top-right-radius: 3px;
}
.card-wrapper .card.card-creature .prop.hp {
  right: 0;
  bottom: 0;
  border-top-left-radius: 3px;
}
.card-wrapper .card.card-creature .prop.hp .change-hp {
  position: absolute;
  left: 0;
  top: -18px;
  text-shadow: 0 0 3px black;
  font-weight: bold;
  font-size: 16px;
}
.card-wrapper .card.card-creature .prop.hp .change-hp.plus {
  color: #00FF00;
}
.card-wrapper .card.card-creature .prop.hp .change-hp.minus {
  color: #ff0000;
}
.card-wrapper .card.card-spell img {
  display: inline-block;
  margin: 7px 0;
  width: 88px;
  height: 82px;
}
.card-wrapper .card.card-spell:before {
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 2;
  width: 88px;
  height: 85px;
  background: url("/static/images/decorations/spell-border_s88x85.png");
  content: "";
}
.card-wrapper .card.card-spell .prop.cost {
  position: absolute;
  right: 1px;
  top: 7px;
  z-index: 3;
  width: 19px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  color: #000000;
}
.card-wrapper .card.active {
  border: 2px solid red;
  margin: 0;
}

.page-battle {
  position: relative;
}
.page-battle .heroes {
  display: inline-block;
}
.page-battle .heroes .hero {
  position: relative;
  overflow: hidden;
}
.page-battle .heroes .hero .photo {
  display: inline-block;
  float: left;
}
.page-battle .heroes .hero .photo img {
  float: left;
}
.page-battle .heroes .hero > .hp,
.page-battle .heroes .hero > .name {
  display: inline-block;
  margin: 5px 0 5px 10px;
  color: #ffffff;
}
.page-battle .heroes .hero > .hp,
.page-battle .heroes .hero .change-hp {
  width: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.page-battle .heroes .hero .change-hp {
  position: absolute;
}
.page-battle .heroes .hero .change-hp.plus {
  color: #00FF00;
}
.page-battle .heroes .hero .change-hp.minus {
  color: #ff0000;
}
.page-battle .heroes .hero.enemy > .hp,
.page-battle .heroes .hero.enemy .name {
  vertical-align: top;
}
.page-battle .heroes .hero.enemy .change-hp {
  top: 25px;
}
.page-battle .heroes .hero.my > .hp,
.page-battle .heroes .hero.my .name {
  position: relative;
  bottom: -92px;
}
.page-battle .heroes .hero.my .change-hp {
  top: -25px;
}
.page-battle .heroes .options {
  overflow: hidden;
  margin: 10px 0;
}
.page-battle .heroes .options .option {
  float: left;
  display: inline-block;
  margin: 0 10px 0 0;
  background: url('/static/images/icons/common-icons-s90d7a0e3c5.png');
  cursor: pointer;
}
.page-battle .heroes .options .option.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  cursor: default;
}
.page-battle .heroes .options .option.surrender {
  background-position: 0 0;
  height: 34px;
  width: 34px;
}
.page-battle .heroes .options .option.travel-pass {
  background-position: 0 -34px;
  height: 34px;
  width: 34px;
}
.page-battle .deck {
  margin: 0 0 0 355px;
}
.page-battle .deck .stack {
  vertical-align: top;
  display: inline-block;
  margin: 0 4px 0 4px;
}
.page-battle .deck .stack .card-wrapper {
  margin: 0 0 10px 0;
}
.page-battle .deck .stack .card-wrapper .card {
  margin: 2px;
  cursor: pointer;
}
.page-battle .deck .stack .card-wrapper .card.active {
  margin: 0;
  border: 2px solid red;
}
.page-battle .deck .stack .card-wrapper .card.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default !important;
}
.page-battle .deck .stack .card-wrapper:last-child {
  margin: 0;
}
.page-battle .battlefield {
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 2;
  display: block;
}
.page-battle .battlefield .army .slot-wrapper {
  vertical-align: top;
  display: inline-block;
  margin: 0 10px 0 0;
}
.page-battle .battlefield .army .slot-wrapper .slot {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 88px;
  height: 94px;
  border: 2px solid gray;
}
.page-battle .battlefield .army .slot-wrapper .slot .card-wrapper {
  margin: -2px;
}
.page-battle .battlefield .army .slot-wrapper .slot.active {
  outline: 2px solid red;
  border: 2px solid transparent;
}
.page-battle .battlefield .army .slot-wrapper.active {
  background: url("/static/images/decorations/slot-warapper-active-bg.gif");
}
.page-battle .battlefield .army.enemy-army .slot-wrapper {
  margin-bottom: 10px;
}
.page-battle .powers {
  position: absolute;
  z-index: 1;
  display: inline-block;
}
.page-battle .powers .power {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 44px;
  color: #9E1B1B;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.page-battle .powers .power .current,
.page-battle .powers .power .growth {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  line-height: 31px;
  cursor: default;
}
.page-battle .powers .power .growth {
  display: none;
}
.page-battle .powers .power:hover .current {
  display: none;
}
.page-battle .powers .power:hover .growth {
  display: block;
}
.page-battle .powers.enemy-powers {
  left: 354px;
  top: -2px;
}
.page-battle .powers.enemy-powers .power {
  background: url("/static/images/decorations/power-bg-enemy_s100x44.png") 0 0 no-repeat;
}
.page-battle .powers.enemy-powers .power .current,
.page-battle .powers.enemy-powers .power .growth {
  top: 0;
}
.page-battle .powers.my-powers {
  left: 354px;
  top: 252px;
}
.page-battle .powers.my-powers .power {
  background: url("/static/images/decorations/power-bg-my_s100x44.png") 0 0 no-repeat;
}
.page-battle .powers.my-powers .power .current,
.page-battle .powers.my-powers .power .growth {
  bottom: 0;
}
.page-battle .main-menu {
  display: none;
}
.page-battle .invite-msg {
  margin: 0 auto;
  padding: 100px 0 0 0;
  text-align: center;
}
.page-battle .card-description {
  position: absolute;
  left: 0;
  top: 400px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 355px;
  padding: 0 55px;
  text-align: center;
}

.page-content.page-start {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-content.page-start .tabs-start-forms {
  margin: 0 auto;
  width: 310px;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos {
  text-align: center;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .gallery-list {
  display: none;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .main-image {
  position: relative;
  display: inline-block;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .main-image .nav {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -28px 0 0 0;
  background: url('/static/images/icons/common-icons-s90d7a0e3c5.png');
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .main-image .nav.nav-next {
  right: -30px;
  background-position: 0 -68px;
  height: 56px;
  width: 20px;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .main-image .nav.nav-prev {
  left: -30px;
  background-position: 0 -124px;
  height: 56px;
  width: 20px;
}
.page-content.page-start .tabs-start-forms .gallery-hero-photos .main-image .nav:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
