.card-wrapper{
	display: block;
	
	.card{
		position: relative;
		width: 88px;
		height: 94px;
		background: url("/static/images/decorations/card-background_s118x154.jpg");
		
		&.card-creature{

			img{
				display: inline-block;
				margin: 7px 4px;
				width: 80px;
				height: 80px;
			}

			.prop{
				position: absolute;
				z-index: 2;
				width: 16px;
				height: 16px;
				background: #fdf3ac;
				text-align: center;
				line-height: 16px;
				font-size: 12px;
				color: #000000;

				&.cost{
					right: 0;
					top: 0;
					border-bottom-left-radius: 3px;
				}

				&.damage{
					left: 0;
					bottom: 0;
					border-top-right-radius: 3px;
				}

				&.hp{
					right: 0;
					bottom: 0;
					border-top-left-radius: 3px;

					.change-hp{
						position: absolute;
						left: 0;
						top: -18px;
						text-shadow: 0 0 3px black;
						font-weight: bold;
						font-size: 16px;

						&.plus{
							color: #00FF00;
						}

						&.minus{
							color: #ff0000;
						}
					}
				}
			}
		}

		&.card-spell{

			img{
				display: inline-block;
				margin: 7px 0;
				width: 88px;
				height: 82px;
			}


			&:before{
				position: absolute;
				left: 0;
				top: 4px;
				z-index: 2;
				width: 88px;
				height: 85px;
				background: url("/static/images/decorations/spell-border_s88x85.png");
				content: "";
			}

			.prop.cost {
				position: absolute;
				right: 1px;
				top: 7px;
				z-index: 3;
				width: 19px;
				height: 15px;
				text-align: center;
				font-size: 12px;
				color: #000000;
			}
		}

		&.active{
			border: 2px solid red;
			margin: 0;
		}
	}
}