.main-menu{
	vertical-align: top;
	display: inline-block;
	@include box-sizing();
	width: 200px;
	padding: 20px 10px 0 0;
	font-size: 14px;

	> ul{
		> li{
			margin: 0 0 5px 0;

			a:hover{
				color: #17BF11;
			}
		}
	}
}