.tabs.default-tabs.style_1{
	.tabs-headers-list{

		display: inline-block;
		margin: 0 0 20px 0;

		> li{
			display: inline-block;
			width: 150px;
			margin: 0 10px 0 0;
			text-align: center;
			cursor: pointer;

			span{
				display: inline-block;
				font-size: 14px;
				line-height: 30px;

			}

			&:hover{
				span{
					border-bottom: 1px solid;
				}
			}

			&.active{
				span{
					border-bottom: 2px solid;
					font-weight: bold;
				}
			}

			&:last-child{
				margin: 0;
			}
		}
	}

	.tabs-content-list{
		> li{
			display: none;

			&.active{
				display: block;
			}
		}
	}
}