.page-battle{
	position: relative;

	@import "heroes";
	@import "deck";
	@import "battlefield";
	@import "powers";

	.main-menu{
		display: none;
	}

	.invite-msg{
		margin: 0 auto;
		padding: 100px 0 0 0;
		text-align: center;
	}

	.card-description{
		position: absolute;
		left: 0;
		top: 400px;
		@include box-sizing(border-box);
		width: 355px;
		padding: 0 55px;
		text-align: center;
	}
}
