.battlefield{
	position: absolute;
	right: 0;
	top: 48px;
	z-index: 2;
	display: block;

	.army{

		.slot-wrapper{
			vertical-align: top;
			display: inline-block;
			margin: 0 10px 0 0;

			.slot{
				vertical-align: top;
				@include box-sizing(border-box);
				display: inline-block;
				width: 88px;
				height: 94px;
				border: 2px solid gray;

				.card-wrapper{
					margin: -2px;
				}

				&.active{
					outline: 2px solid red;
					border: 2px solid transparent;
				}
			}

			&.active{
				background: url("/static/images/decorations/slot-warapper-active-bg.gif");
			}
		}

		&.enemy-army{
			.slot-wrapper{
				margin-bottom: 10px;
			}
		}
	}
}