.deck{
	margin: 0 0 0 355px;
	.stack{
		vertical-align: top;
		display: inline-block;
		margin: 0 4px 0 4px;

		.card-wrapper{
			margin: 0 0 10px 0;

			.card{
				margin: 2px;
				cursor: pointer;

				&.active{
					margin: 0;
					border: 2px solid red;
				}

				&.disabled{
					@include opacity(.5);
					cursor: default !important;
				}
			}

			&:last-child{
				margin: 0;
			}
		}
	}
}