.heroes{
	display: inline-block;

	.hero{
		position: relative;
		overflow: hidden;

		.photo{
			display: inline-block;
			float: left;

			img{
				float: left;
			}
		}

		> .hp,
		> .name{
			display: inline-block;
			margin: 5px 0 5px 10px;;
			color: #ffffff;
		}

		> .hp,
		.change-hp{
			width: 35px;
			text-align: center;
			font-weight: bold;
			font-size: 18px;
		}

		.change-hp{
			position: absolute;

			&.plus{
				color: #00FF00;
			}

			&.minus{
				color: #ff0000;
			}
		}

		&.enemy{
			> .hp,
			.name{
				vertical-align: top;
			}

			.change-hp{
				top: 25px;
			}
		}

		&.my{
			> .hp,
			.name{
				position: relative;
				bottom: -92px;
			}

			.change-hp{
				top: -25px;
			}
		}

	}

	.options{
		overflow: hidden;
		margin: 10px 0;

		.option{
			float: left;
			display: inline-block;
			margin: 0 10px 0 0;
			background: $common-icons;
			cursor: pointer;

			&.disabled{
				@include opacity(0.6);
				cursor: default;
			}


			&.surrender{
				@include sprite($common-icons, "white-flag_s34x34", true);
			}

			&.travel-pass{
				@include sprite($common-icons, "white-arrow-in-green-round_s34x34", true);
			}
		}
	}
}
