.powers{

	position: absolute;
	z-index: 1;
	display: inline-block;

	.power{
		position: relative;
		display: inline-block;
		width: 100px;
		height: 44px;
		color: #9E1B1B;
		text-align: center;
		font-size: 14px;
		font-weight: bold;

		.current,
		.growth{
			position: absolute;
			left: 0;
			z-index: 1;
			width: 100%;
			line-height: 31px;
			cursor: default;
		}

		.growth{
			display: none;
		}

		&:hover{
			.current{
				display: none;
			}

			.growth{
				display: block;
			}
		}
	}

	&.enemy-powers{

		left: 354px;
		top: -2px;

		.power{
			background: url("/static/images/decorations/power-bg-enemy_s100x44.png") 0 0 no-repeat;

			.current,
			.growth{
				top: 0;
			}
		}
	}

	&.my-powers{

		left: 354px;
		top: 252px;

		.power{
			background: url("/static/images/decorations/power-bg-my_s100x44.png") 0 0 no-repeat;

			.current,
			.growth{
				bottom: 0;
			}
		}
	}
}