.hidden{
	display: none !important;
}





input{color: #ffffff;}

.user-select{
	cursor: pointer;
	@include user-select("none");
}

.default-link{
	border-bottom: 1px solid;

	&:hover{
		border-bottom: none;
	}
}